@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    overflow-x: hidden;
}

.bar{
    display: flex;
    justify-content: space-between;
    width: 94%;
    padding: 0 3%;
    height: 65px;
    align-items: center;
    color: white;
    background: #3f3f3f;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links *{
    margin: 0 10px;
}

.links img{
    width: 30px;
}

.slide1{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#myVideo{
    position: absolute;
    width: 100%;
    z-index: 1;
}

#capybara {
    top: 6px;
    position: absolute;
    z-index: 3;
}

.slide1-1{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.frontendDeveloper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    color: #ffffff;
    padding-left: 300px;
    font-size: 48px;
}

.buttonCenter {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#myWorks {
    font-size: 30px;
    border: 3px solid #e674ea;
    width: 400px;
    height: 80px;
    border-radius: 50px;
    animation: myWorks 4s infinite alternate ease-in;
    animation-iteration-count: infinite;
    padding: 5px 15px;
    background: none;
    color: #ffffff;
    /*--angle: 0deg;*/
    /*width: 150px;*/
    /*height: 50px;*/
    /*border: 3px solid;*/

    /*border-image: linear-gradient(var(--angle), #fc64c3, #b166da) 1;*/
    /*animation: 2s rotate linear infinite;*/
    /*border-radius: 50em;*/
}

.aboutMe p{
    font-size: 30px;
    width: 50%;
    text-align: justify;
}


@keyframes myWorks {

    0% {
        border: 3px solid #e674ea;
    }
    25% {
        border: 3px solid #922ffc;

    }
    50% {
        border: 3px solid #5965e7;
    }
    75% {
        border: 3px solid #922ffc
    }
    100% {
        border: 3px solid #e674ea;
    }
}