.arrows{
  position: relative;
  left: 8px;
  margin: 5px 3px;
  width: 25px;
  height: 25px;
  border-top: 2px solid rgb(175, 175, 175);
  border-left: 2px solid rgb(175, 175, 175);
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  opacity: 0.8;
}

.arrows:last-child{
  left: -12px;
}

.placeArrows {
  display: flex;
  height: 100%;
  width: 80px;
  align-items: center;
}

.placeTodo{
  display: flex;
  height: 100%;
  width: 100%;
}

.placeTodo *{
}

.todo{
  width: 100%;
}

.taskPlace{
  margin: 20px 0;
  min-height: 30px;
}
.taskDiv{
  width: 90%;
  display: flex;
  border-bottom: 1px solid #646464;
  align-items: center;
}

.taskAddInput{
  border: none;
  /*border-bottom: 2px solid #656565;*/
  border-radius: 5px;
  padding: 8px 13px;
  background: #e3e3e3;
}

.taskAddInput:focus{
  outline:none;
  border: none;
}

.taskDiv p{
  white-space: normal;
  width: 100%;
  margin-left: 10px;
}
