.timeGrid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(24, 60px);
  gap: 1px;
  background: #646464;
  border: 1px solid #646464;
  border-radius: 20px;
  overflow: hidden;
}

.userPlace{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background: #646464;
}

.minutes{
}

.minutes, .times{
  margin: 0;
  text-align: center;
  background: white;
}

h1{
  margin: 0;
}

.times {
}

.mat-mdc-dialog-container{
  position: relative !important;
  z-index: 10;
}

