<div class="displayFlex">
  <div class="headDaysSelect">
    <a [routerLink]="['/day', this.today.getDate()]"
       [queryParams]="{'day': this.today.getDate(),'month': this.today.getMonth(), 'year': this.today.getFullYear()}">
      <button onclick="setTimeout(()=> window.location.reload(),2)">Today</button>
    </a>
    <div>
      <button disabled>Day</button>
      <button disabled>Week</button>
      <button disabled>Month</button>
    </div>
  </div>
  <div class="selectBar">
    <a [routerLink]="['/calendar']"
       [queryParams]="{'month': +data.month < 2 ? 12 : +data.month-1, 'year':+data.month < 2 ? +data.year-1 :data.year}">
    <button class ="headBtn"
            (click)="nextMonth()">

      <img src="assets/img/icon/arrow/Vector-1.png" height="25">
    </button>
    </a>
    <p>
      {{data.day?.length === 1 ? "0" + data.day + '.' : data.day || ''}}
      {{data.month?.length === 1 ? "0" + data.month : data.month || ''}}.
      {{data.year}}
    </p>
    <div>
      <a [routerLink]="['/calendar']"
         [queryParams]="{'month': +data.month > 11 ? 1 : +data.month+1, 'year':+data.month > 11 ? +data.year+1 :data.year}">
      <button class="headBtn"
              (click)="nextMonth()">
          <img src="assets/img/icon/arrow/Vector.png" height="25">
      </button>
        <app-loading *ngIf="loading"></app-loading>
      </a>
    </div>
  </div>
</div>
