<ng-container>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading">
    <h1>Registration</h1>
    <div *ngIf = '!sucseccful'>
      <form [formGroup]="groupControl" (submit)="submitForm()">
        <h1>Логин</h1>
        <input name="login" formControlName="loginControl">
        <h1>Почта</h1>
        <input name="email" formControlName="emailControl">
        <h1>Пароль</h1>
        <input name="password" formControlName="passwordControl">
        <button type="submit">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</ng-container>
