<div class="menuBorder">
  <div>
    <button (click)="menubar()" class="rotatePointMenu">
      <div class="point_menu"></div>
      <div class="point_menu"></div>
      <div class="point_menu"></div>
    </button>
  </div>
  <div class="profileDisplay">
    <div class="profile"></div>
    <div class="userLogin">
      <h1 class="profileText">{{user?.login}}</h1>
      <h3>Профиль</h3>
    </div>
  </div>
  <div class="pointMenu">
      <img src="assets/img/icon/barIcon/calendar.png">
    <a routerLink="/calendar">
      <button class="pointsMenuButton">Календарь</button>
    </a>
      <img src="assets/img/icon/barIcon/todo.png">
    <button class="pointsMenuButton">TODO</button>
      <img src="assets/img/icon/barIcon/settings.png">
    <button class="pointsMenuButton">Настройки</button>
      <button (click)="window.location.href = '/login'">Выйти</button>
  </div>

</div>
